ul li  {
    list-style: none;
}
.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
 }
.menu {
    border-radius: 6px 0px 6px 6px;
    left: auto;
    margin-left: 10px;
    right: 98%;
}